html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    margin-top: 60px;
}

.all-tshirt-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
}

.tshirt-card {
    margin: 15px 15px 15px 15px;

}

.tshirt-image img {
    object-fit: cover;
    height: 350px;
}

.tshirt-image {
    position: relative;
}

.free-shipping {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #222;
    color: #fff;
    height: 30px;
    padding: 5px;
}

.tshirt-info p {
    text-align: center;
    font-size: 18px;
}

.dash {
    background-color: sandybrown;
    width: 60px;
    height: 4px;
    margin: auto;
}

.price-info {
    text-align: center;
    margin: 20px 5px 20px 5px;
}

.add-button {
    height: 36px;
    padding: 0 16px;
    line-height: 34px;
    min-width: 200px;
    outline: 0;
    text-decoration: none;
    color: #fff;
    border-radius: 0;
    border: 1px solid transparent;
    background: #222;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
}

.add-button:hover {
    background: #CD7F32;
}



.price-info span {
    padding: 2px;

}

.price-info span:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.size-filter {
    width: 200px;
}

.size-filter button {
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    height: 40px;
    width: 40px;
}

.size-filter p {
    font-size: 21px;
    padding: 10px 10px 0px 10px;
}

.size-filter button:hover {
    background-color: #222;
    color: #fff;
}

.shop-button {
    top: 0%;
    right: 0%;
    position: fixed;
    border-radius: 0;
    border: 1px solid transparent;
    background: #222;
    cursor: pointer;
    vertical-align: middle;
    padding: 15px 15px 15px 15px;
}